<div class="dialog-container rounded-lg shadow-xl">
  <h2 mat-dialog-title class="flex items-center">
    <mat-icon class="mr-2">{{ data.orderType === 'buy' ? 'shopping_cart' : 'sell' }}</mat-icon>
    <span i18n="@@order.type.selection.title_with_symbol">Confirmar Tipo de Orden ({{ data.shareSymbol }})</span>
  </h2>
  
  <mat-dialog-content class="py-4">
    <p class="mb-4" i18n="@@order.type.selection.question">¿Para quién deseas realizar esta orden?</p>
    
    <mat-radio-group [(ngModel)]="orderFor" class="flex flex-col space-y-3">
      <mat-radio-button value="self" class="flex items-center">
        <div class="flex items-center">
          <mat-icon class="mr-2">person</mat-icon>
          <span i18n="@@order.type.selection.for.self">Para mí (orden personal)</span>
        </div>
      </mat-radio-button>
      <mat-radio-button value="client" class="flex items-center" [disabled]="true">
        <div class="flex items-center">
          <mat-icon class="mr-2">supervisor_account</mat-icon>
          <span i18n="@@order.type.selection.for.client">Para un cliente</span>
          <span class="soon-badge"
                i18n="@@common.soon">Próximamente</span>
        </div>
      </mat-radio-button>
    </mat-radio-group>
  </mat-dialog-content>

  <mat-dialog-actions align="end" class="p-4">
    <button mat-stroked-button (click)="onCancel()" i18n="@@common.actions.cancel">Cancelar</button>
    <button
      mat-flat-button
      color="primary"
      (click)="onConfirm()"
      [disabled]="orderFor === 'client'"
      i18n="@@common.actions.continue">
      Continuar
    </button>
  </mat-dialog-actions>
</div>
